
.destacado {
    background-color: yellow;
    font-style: italic;
    padding: 10px;
}

tituloPrincipal {
    font-size: 2.5em;
    color: darkblue;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 80%;
 background-color: lightblue;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
   
}

tr:nth-child(even) {
    background-color: pink;
}

